/*rasgos generales*/
*{
    padding:0;
    margin:0;
    font-family: 'Poppins',sans-serif;
}
@keyframes animatioButton{
    0%{
        
    }
    50%{
        background: blue;
    }
    100%{
       background: #0f9d0f;
    }
}

/*css index*/
html,body{
    height: 100%;
}
body{
    width: 100%;
    

    background: url(../img/fondo_smartphone.jpg);
    background-size:cover ;
    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;



    background-color: #464646;
}
.web{
    width:100%;
    height:100%;
    position:relative;
}

#btntitulo{
    display: block;
    text-decoration: none;
    width:30%;
    background: #1B5E20;
    font-size: 2em;
    position: absolute;
    top:50%;
    left:37.5%;
    text-align: center;
    color:white;
    animation: animationButton 1s;
}




@media screen and (min-width: 650px){

    body{
        background-image: url(../img/fondo_portatil.jpg) ;
    }
    
}
